/aclocal.m4
/autom4te.cache/
/config.log
/Makefile
/Makefile.in
/config.h
/config.h.in
/config.status
/config.guess
/config.sub
/configure
/install-sh
/missing
/libtool
/m4
/ar-lib
/compile
/depcomp
/ltmain.sh
**/.deps
**/.dirstamp
/quickassist/utilities/service/qat.service
/stamp-h1
/.libs
*.la
*.lo
*.o
*.m4
build
/alg_chaining_sample
/ccm_sample
/chaining_sample
/cipher_sample
/cpa_sample_code
/dc_dp_sample
/dc_sample_event_notif
/diffie_hellman_sample
/gcm_sample
/hash_file_sample
/hash_sample
/ipsec_sample
/prime_sample
/qatmgr
/ssl_sample
/stateful_sample
/stateless_multi_op_checksum_sample
/stateless_sample
/symdp_sample
/update_sample
