name: Linux Build gcc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
    contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: sudo apt install -y automake libtool pkg-config libssl-dev libz-dev nasm libnuma-dev autoconf-archive

    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        repository: intel/qatlib
        check-latest: true

    - name: autogen
      run: ACLOCAL_PATH=/usr/share/aclocal ./autogen.sh

    - name: configure
      run: ./configure

    - name: make
      run: make -j
