name: Linux Build gcc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
    contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - run: sudo apt install -y automake libtool pkg-config libssl-dev libz-dev nasm libnuma-dev autoconf-archive

    - name: Checkout repository using checkout action v4.1.7
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      with:
        repository: intel/qatlib

    - name: autogen
      run: ACLOCAL_PATH=/usr/share/aclocal ./autogen.sh

    - name: configure
      run: ./configure

    - name: make
      run: make -j
